<div class="jumbotron">
  <h1>Sampletico</h1>
  <p>Welcome to Sample application built with ASP.NET MVC4, Simple.Data, Visual Studio Database project, Twitter Boostrap 3!</p>
  <p><a class="btn btn-primary btn-lg" role="button">Learn more</a></p>
</div>